<link href="https://fonts.googleapis.com/css?family=Roboto:700,900i,900&display=swap" rel="stylesheet">
<style>
    t {
        font-family: 'Roboto', sans-serif;
        font-style: italic;
        font-size: 36px;
    }

    li {
        font-style: normal;
        font-weight: 900;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
    }
</style>

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">
    <title>CRS Intern Service</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="col-lg-2">
                    <img src="https://crsinternserviceimage.blob.core.windows.net/crsinternserviceimage/Cloudriches.png" style="width:180px; padding-top:3px;" />
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <t>@Html.ActionLink("Intern Service", "Login", "Account", new { area = "" }, new { @class = "navbar-brand" })</t>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer></footer>
    </div>
    <script src="~/Scripts/Site.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>